#map {
  height: 100%;
}
  
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#time-slider {
  margin: 10px 5% 10px 5%;
  width: 80%;
  height: 5px;
  position: absolute;
  bottom: 5%;   
  left: 5%;
  z-index: 4;
  text-align: center;
  /* Made by */
}

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  text-align: left;
  margin: 10px 5% 10px 5%;
}

h1, h2, h3, h4, h5, h6{
font-family:'Abel', Helvetica, Arial, Lucida, sans-serif
}
.climate-menu {
  position: absolute;
  top: 50px;   
  left: 1%;
  z-index: 4;
  text-align: center;
  /* Made by */
}

.climate-menu input[type="radio"] {
  display: none;
  
}
.climate-menu input[type="radio"]:checked + .box {
  background-color: #009933;
  opacity: .8;   
}
.climate-menu input[type="radio"]:checked + .none {
  background-color: white;
  opacity: .8;   
}
.climate-menu input[type="radio"]+ .box span {
  color: white;
  transform: translateY(40%);
}
.climate-menu input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(25%);
}
.climate-menu input[type="radio"]+ .none span {
  color: white;
  transform: translateY(40%);
}
.climate-menu input[type="radio"]:checked + .none span {
  color: black;
  transform: translateY(25%);
}

.climate-menu .box {
  width: 150px;
  height: 35px;
  background-color: #999999;
  opacity: .8; 
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
}
.climate-menu .none {
  width: 40px;
  height: 35px;
  background-color: black;
  opacity: .7; 
  transition: all 250ms ease;
  will-change: transition;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
}
.climate-menu .box span {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1em;
  user-select: none;
  color: #fff;
}
.climate-menu .box span:before {
  font-size: 1em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.climate-menu .none span {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 0.8em;
  user-select: none;
  color: #fff;
}
.climate-menu .none span:before {
  font-size: 0.8em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}





.crop-menu {
  position: absolute;
  top: 40%;   
  left: 1%;
  z-index: 4;
  text-align: center;
  /* Made by */
}

.crop-menu input[type="radio"] {
  display: none;
  
}
.crop-menu input[type="radio"]:checked + .box {
  background-color: #009933;
  opacity: .8;   
}
.crop-menu input[type="radio"]:checked + .none {
  background-color: white;
  opacity: .8;   
}
.crop-menu input[type="radio"]+ .box span {
  color: white;
  transform: translateY(40%);
}
.crop-menu input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(25%);
}
.crop-menu input[type="radio"]+ .none span {
  color: white;
  transform: translateY(40%);
}
.crop-menu input[type="radio"]:checked + .none span {
  color: black;
  transform: translateY(25%);
}

.crop-menu .box {
  width: 100px;
  height: 35px;
  background-color: #999999;
  opacity: .7; 
  transition: all 250ms ease;
  will-change: transition;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
}

.crop-menu .none {
  width: 100px;
  height: 25px;
  background-color: black;
  opacity: .7; 
  transition: all 250ms ease;
  will-change: transition;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
}
.crop-menu .box span {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1em;
  user-select: none;
  color: #fff;
}
.crop-menu .box span:before {
  font-size: 1em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.crop-menu .none span {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 0.8em;
  user-select: none;
  color: #fff;
}
.crop-menu .none span:before {
  font-size: 0.8em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}




.ui-widget {
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  font-size: 1em;
}

#ts-map-legend {
  background: #FFF;
  padding: 0px;
  margin: 12px;
  font-size: 1em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  overflow: hidden; 
  text-align: left; 
  color: rgb(86, 86, 86); 
  font-family: Roboto,Arial,sans-serif; 
  -moz-user-select: none; 
  background-color: rgb(255, 255, 255); padding: 8px; 
  border-radius: 2px; 
  background-clip: padding-box; 
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); 
  border-left: 0px none;
}
#ts-map-legend p{
  margin 0 0 0 0 !important;

}
h3.ts-map-legend-headline{
  margin:0 !important;
  padding:0 !important;
  text-align:center;
}

.ts-map-legend-color {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  float: left;
  border-style: solid;
  border-width: 1px;
}

.ts-map-legend-color-yield1 {
  background: #FFFF00;
}
.ts-map-legend-color-yield2 {
  background: #FFC933;
}
.ts-map-legend-color-yield3 {
  background: #FF0000;
}

.ts-map-legend-color-precipitation1 {
  background: #FDFEFE;
}
.ts-map-legend-color-precipitation2 {
  background: #3498DB;
}
.ts-map-legend-color-precipitation3 {
  background: #1B4F72;
}

.ts-map-legend-color-orange {
  background: #f18c3e;
}

.ts-map-legend-color-yellow {
  background: #f5c155;
}

.ts-map-legend-color-blue {
  background: #2a9af5;
}

.ts-map-legend-color-green {
  background: #8dc73f;
}