#map {
  height: 100%;
}
  
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#time-slider {
  margin: 10px 5% 10px 5%;
  width: 80%;
  height: 5px;
  position: absolute;
  bottom: 5%;   
  left: 5%;
  z-index: 4;
  text-align: center;
  /* Made by */
}

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  text-align: left;
  margin: 10px 5% 10px 5%;
}

h1, h2, h3, h4, h5, h6{
font-family:'Abel', Helvetica, Arial, Lucida, sans-serif
}
.climate-vars {
  position: absolute;
  top: 5%;   
  left: 1%;
  z-index: 4;
  text-align: center;
  /* Made by */
}

.climate-vars input[type="radio"] {
  display: none;
  
}
.climate-vars input[type="radio"]:checked + .box {
  background-color: #009933;
  opacity: .8;   
}
.climate-vars input[type="radio"]+ .box span {
  color: white;
  transform: translateY(40%);
}
.climate-vars input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(25%);
}

.climate-vars .box {
  width: 150px;
  height: 35px;
  background-color: #999999;
  opacity: .7; 
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;

}
.climate-vars .box span {
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1em;
  user-select: none;
  color: #fff;
}
.climate-vars .box span:before {
  font-size: 1em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}

