#map {
  height: 100%;
}
  
html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#time-slider {
  margin: 10px 5% 10px 5%;
  width: 80%;
  height: 5px;
  position: absolute;
  bottom: 5%;   
  left: 5%;
  z-index: 4;
  text-align: center;
  /* Made by */
}

#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

p {
  font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif;
  text-align: left;
  margin: 10px 5% 10px 5%;
}

h1, h2, h3, h4, h5, h6{
font-family:'Abel', Helvetica, Arial, Lucida, sans-serif
}

.main-menu {
  position: absolute;
  top: 15%;   
  left: 10px;
  z-index: 4;
  text-align: center;
}

.sub-menu input[type="radio"] {
  display: none;  
}
.sub-menu input[type="checkbox"] {
  display: none;
}


.sub-menu input[type="radio"]:checked + .box {
  background-color: #009933;
  left: 10px;
  opacity: .8;   
}
.sub-menu input[type="radio"]+ .box span {
  color: white;
  transform: translateY(40%);
}
.sub-menu input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(25%);
}
.sub-menu .box {
  width: 100px;
  height: 35px;
  left: 5px;
  background-color: #999999;
  opacity: .7; 
  transition: all 250ms ease;
  will-change: transition;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
}
.sub-menu .box span {
  font-size: 1em;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  user-select: none;
  color: #fff;
}
.sub-menu .box span:before {
  font-size: 1em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}


.sub-menu input[type="radio"]:checked + .none {
  background-color: white;
  opacity: .0;   
}
.sub-menu input[type="radio"]+ .none span {
  color: white;
  transform: translateY(20%);
}
.sub-menu input[type="radio"]:checked + .none span {
  color: black;
  transform: translateY(23%);
}
.sub-menu .none {
  width: 100px;
  height: 20px;
  left: 5px;
  background-color: #666666;
  opacity: .7; 
  transition: all 250ms ease;
  will-change: transition;
  cursor: pointer;
  position: relative;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
}
.sub-menu .none span {
  font-size: 0.8em;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  user-select: none;
  color: #fff;
}
.sub-menu .none span:before {
  font-size: 0.8em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}


.sub-menu input[type="checkbox"]:checked + .head {
  background-color: white;
  opacity: .8;   
}
.sub-menu input[type="checkbox"]+ .head span {
  color: white;
  transform: translateY(28%);
}
.sub-menu input[type="checkbox"]:checked + .head span {
  color: black;
  transform: translateY(25%);
}
.sub-menu .head {
  width: 110px;
  height: 30px;
  background-color: black;
  opacity: .7; 
  transition: all 250ms ease;
  will-change: transition;
  cursor: pointer;
  position: relative;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
}
.sub-menu .head span {
  font-size: 1em;
  position: absolute;
  left: 0;
  right: 0;
  transition: all 300ms ease;
  user-select: none;
  text-align: left;
  margin-left: 5px;
  color: #fff;
}

.sub-menu .head span:before {
  font-size: 1em;
  font-weight: bold;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}




.ui-widget {
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  font-size: 1em;
}



#ts-map-legend {
  background: #FFF;
  padding: 0px;
  margin: 12px;
  font-size: 1em;
  font-family:'Abel', Helvetica, Arial, Lucida, sans-serif;
  overflow: hidden; 
  text-align: left; 
  color: rgb(86, 86, 86); 
  -moz-user-select: none; 
  background-color: rgb(255, 255, 255); padding: 8px; 
  border-radius: 2px; 
  background-clip: padding-box; 
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); 
  border-left: 0px none;
}
#ts-map-legend p{
  margin: 0 0 0 0 !important;
}

h3.ts-map-legend-headline{
  margin:0 !important;
  padding:0 !important;
  text-align: left;
}

.ts-map-legend-color {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  float: left;
  border-style: solid;
  border-width: 1px;
}

.ts-map-legend-color-yield-1 {
  background: #FFFF00;
}
.ts-map-legend-color-yield-2 {
  background: #FFC933;
}
.ts-map-legend-color-yield-3 {
  background: #FF0000;
}

.ts-map-legend-color-precipitation-1 {
  background: #FDFEFE;
}
.ts-map-legend-color-precipitation-2 {
  background: #3498DB;
}
.ts-map-legend-color-precipitation-3 {
  background: #1B4F72;
}

.ts-map-legend-color-grocprecipitation-1 {
  background: #CACFD2;
}
.ts-map-legend-color-grocprecipitation-2 {
  background: #85C1E9;
}
.ts-map-legend-color-grocprecipitation-3 {
  background: #21618C;
}

.ts-map-legend-color-temperature-1 {
  background: #FDEDEC;
}
.ts-map-legend-color-temperature-2 {
  background: #F1948A;
}
.ts-map-legend-color-temperature-3 {
  background: #A569BD;
}
.ts-map-legend-color-temperature-4 {
  background: #6C3483;
}



